/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--ifm-heading-color);
}

.heroSubtitle {
  max-width: 40rem;
  font-size: 1.2rem;
  margin: 1rem auto;
  line-height: 1.8rem;
}

@media screen and (min-width: 966px) {
  .heroBanner {
    padding: 3rem 0;
  }
  .heroTitle {
    font-size: 3rem;
  }
  .heroSubtitle {
    font-size: 1.5rem;
    max-width: 50rem;
    line-height: 2.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .heroTitle {
    font-size: 4rem;
  }
}

.primarybutton {
  background-color: #fff;
}
button.secondarybutton {
  color: #fff !important;
}

button.secondarybutton:hover {
  color: #000 !important;
  background-color: #fff;
}

.primarybutton:hover {
  background-color: #000;
}

html[data-theme='dark'] .primarybutton:hover {
  color: #fff;
}

html[data-theme='dark'] .heroSubtitle {
  color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .productImage {
    max-width: 70%;
  }
}

@media screen and (min-width: 800px) {
  .productImage {
    max-width: 36%;
  }
}
