/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 4rem;
}

.heroSubtitle {
  max-width: 60rem;

  margin: 0 auto 20px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
.primarybutton {
  background-color: #fff;
}
button.secondarybutton {
  color: #fff !important;
}

button.secondarybutton:hover {
  color: #000 !important;
}

.primarybutton:hover {
  background-color: #000;
}

html[data-theme='dark'] .primarybutton:hover {
  color: #fff;
}

html[data-theme='dark'] .heroSubtitle {
  color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .productImage {
    max-width: 70%;
  }
}

@media screen and (min-width: 800px) {
  .productImage {
    max-width: 36%;
  }
}
