.cases {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featuredImage {
  padding: 2rem;
}

.intro {
  max-width: 800px;
  text-align: center;
  margin: 1rem auto 2rem;
}

/* .featureSvg {
    height: 100%;
    width: 100%;
  } */
