.cases {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureTitle {
  font-size: 1.8rem;
}
.featuredImage {
  padding: 1rem;
}

.center {
  text-align: center;
  margin: 2rem auto;
}

.intro {
  max-width: 800px;
  text-align: center;
  margin: 1rem auto 2rem;
}

.homeIntro {
  font-size: 1.2rem;
}

/* .featureSvg {
    height: 100%;
    width: 100%;
  } */
