/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&family=Raleway:wght@400;700&display=swap');
:root {
  --ifm-color-primary: #3c7aeb;
  --ifm-color-primary-dark: rgb(53, 108, 208);
  --ifm-color-primary-darker: rgb(46, 94, 182);
  --ifm-color-primary-darkest: rgb(40, 81, 156);
  --ifm-color-primary-light: rgb(81, 136, 237);
  --ifm-color-primary-lighter: rgb(125, 166, 241);
  --ifm-color-primary-lightest: rgb(168, 195, 246);
  --ifm-code-font-size: 95%;
}

h1,
h2,
h3,
h4,
h5,
button,
.button,
.navbar__items,
.footer__title {
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  font-weight: 800;
}

h3,
h4,
h5,
button,
.button,
.clean-btn,
.navbar__items,
.footer__title {
  font-weight: 700;
}

.pricingcontainer {
  max-width: 720px;
  margin: 2rem auto 4rem;
  padding: 0 10px;
}

.pricingcontainer p,
.pricingcontainer h1 {
  text-align: center;
}

.button--outline.button--primary a:hover,
.button--outline.button--primary:hover a {
  color: #fff;
}

.button--whitecolor,
.button--whitecolor a {
  color: #fff;
}

.button a {
  text-decoration: none;
}

.hero__subtitle {
  max-width: 700px;

  margin: 0 auto 20px;
}

.footer {
  background-color: #f2f4f8;
  color: rgb(134, 154, 184);
}

.footer__link-item {
  color: rgb(134, 154, 184);
}
.footer__title {
  color: #506690;
}

body,
p {
  font-family: Raleway, sans-serif;
}

.logoImage {
  height: 20px;
}

table th,
table td {
  font-size: 14px;
  padding: 0.4rem;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  td:nth-child(1) {
    min-width: 200px;
  }
  td:nth-child(3) {
    min-width: 250px;
  }
  .logoImage {
    height: 60px;
  }
}
